@import url("reset.css");

body {
    background-color: yellowgreen;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

span {
    font-size: 30px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

a {
    margin-bottom: 10px;
}